{% extends "layouts/layout.html" %}
{% block title %}Math Trainer - Calculation{% endblock title %}

{% block content %}

<nav>
    <h2>Times</h2>
</nav>
<main>
    <div class="scrollable-container">

        <ul>
            {% for t in times %}
                <li>{{ forloop.counter }} - {{ t }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <p class="avg_time">Avg time: <span class='res'>{{ avg_time }}</span></p>
    
    <button class='btn_homepage'><a href="{% url 'homepage' %}">homepage</a></button>
</main>

{% endblock %}