{% extends "layouts/layout.html" %}

{% block content %}

<div class="user-panel-container">
    <div class="header">
        <div class="logout">
            <a href="{% url 'user_logout' %}">Logout</a>
        </div>
    </div>
    <div class="user-panel">
        <h1>Welcome, {{ nickname }}!</h1>
        <div class="user-info">
            <p><span class="label">Joined:</span> {{ date_joined }}</p>
            <p><span class="label">Sessions:</span> You exercised {{ number_of_session }} times</p>
        </div>
    </div>
</div>

{% endblock content %}